<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="SLF4J"/>
    <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
  </settings>
  <plugins>
    <plugin interceptor="study.intercepter.InterceptsCustomer"/>
    <plugin interceptor="study.intercepter.MySqlPagingPlugin"/>
  </plugins>
  <!-- 配置环境 -->
  <environments default="mysql">
    <!-- 配置environments中mysql的环境 -->
    <environment id="mysql">
      <!-- 配置事务类型 -->
      <transactionManager type="JDBC"/>
      <!-- 配置数据源  连接池  -->
      <dataSource type="POOLED">
        <!-- 配置数据库的四个基本信息-->
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 指定映射配置文件的位置，每个dao的xml的位置 -->
  <mappers>
    <mapper resource="mapper/UserDao.xml"/>
  </mappers>
</configuration>